.cell{

    width: 4vw;
    height: 4vw;

    @media screen and (max-width: 768px) {
        width: 9vw;
        height: 9vw;
        border: 1px solid $color-text;
    }

    border-radius: 50%;
    display: inline-block;
    margin: 3px;
    border: 2px solid $color-text;
    background-color: $color-background;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    &:hover {
        background-color: lighten($color-accent-dark, 10%);
    }

    &.player-1 {
        $bg-color: $color-player-1;
        background-color: $bg-color;
    }
    &.player-2 {
        $bg-color: $color-player-2;
        background-color: $bg-color;
    }

    &.display-tile {
        width: 5vh;
        height: 5vh;
        margin: 20px 0px;
        vertical-align: middle;
    }

    @keyframes pulse {
        0% { transform: scale(1); }
        50% { transform: scale(1.05); }
        100% { transform: scale(1); }
    }

    &.winning {
        animation: pulse 0.6s infinite ease-in-out;
    }
}