
.cell{


    width: 4vw;
    height: 4vw;

    @media screen and (max-width: 768px) {
        width: 9vw;
        height: 9vw;
        border: 1px solid $color-text;
    }

    border-radius: 50%;
    display: inline-block;
    margin: 3px;
    border: 2px solid $color-text;
    background-color: $color-background;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    &:hover {
        background-color: lighten($color-accent-dark, 10%);
        // transform: scale(1.1);
    }

    &.player-1 {
        $bg-color: $color-player-1;
        background-color: $bg-color;
        &.winning {
            box-shadow: 0 0 0 2px lighten($bg-color, 40%);
        }
    }
    &.player-2 {
        $bg-color: $color-player-2;
        background-color: $bg-color;
        &.winning {
            box-shadow: 0 0 0 2px lighten($bg-color, 40%);
        }
    }
}