@import 'variables';
@import '../components/layout';
@import '../components/cell';

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    color: $color-text;
    line-height: 1.6;
    background-color: $color-background;
    text-align: center;
}

button{
    padding: 12px 24px;
    border: none;
    background-color: $color-text;
    color: $color-background;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.4s;
    border-radius: 12px;
    &:hover {
        transform: scale(1.05);
    }
}



h1{
    font-size: 2.4rem;
    margin-bottom: 20px;
}

h2{
    font-size: 2rem;
    margin-bottom: 15px;
}
