@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");
.app-container {
  height: 88vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
@media screen and (max-width: 768px) {
  .app-container {
    align-items: end;
  }
}
@media screen and (min-width: 768px) {
  .app-container {
    justify-content: center;
  }
}

.container {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .container {
    grid-column: span 12;
    justify-content: center;
    padding: 0;
  }
}

.cell {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  display: inline-block;
  margin: 3px;
  border: 2px solid #000000;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
@media screen and (max-width: 768px) {
  .cell {
    width: 9vw;
    height: 9vw;
    border: 1px solid #000000;
  }
}
.cell:hover {
  background-color: rgb(68.5131578947, 58.4868421053, 58.4868421053);
}
.cell.player-1 {
  background-color: #fa6666;
}
.cell.player-2 {
  background-color: #d2d282;
}
.cell.display-tile {
  width: 5vh;
  height: 5vh;
  margin: 20px 0px;
  vertical-align: middle;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.cell.winning {
  animation: pulse 0.6s infinite ease-in-out;
}

body {
  font-family: "Geist Mono", monospace;
  font-size: 1.6rem;
  color: #000000;
  line-height: 1.6;
  background-color: #f0f0f0;
  text-align: center;
}

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 96%;
  margin: 20px;
  font-family: inherit;
  padding: 8px 16px;
  border: 2px solid #000000;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 20px;
}
button.pulsate {
  animation: pulsate-color 1.5s ease-in-out infinite;
}
@media screen and (min-width: 768px) {
  button:hover {
    background-color: #000000;
    color: #f0f0f0;
  }
}

@keyframes pulsate-color {
  0% {
    background-color: #000000;
    color: #f0f0f0;
  }
  50% {
    background-color: #f0f0f0;
    color: #000000;
  }
  100% {
    background-color: #000000;
    color: #f0f0f0;
  }
}
label {
  font-size: small;
  margin: 0;
}

.app-container {
  height: 88vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
@media screen and (max-width: 768px) {
  .app-container {
    align-items: end;
  }
}
@media screen and (min-width: 768px) {
  .app-container {
    justify-content: center;
  }
}

.container {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .container {
    grid-column: span 12;
    justify-content: center;
    padding: 0;
  }
}

.cell {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  display: inline-block;
  margin: 3px;
  border: 2px solid #000000;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
@media screen and (max-width: 768px) {
  .cell {
    width: 9vw;
    height: 9vw;
    border: 1px solid #000000;
  }
}
.cell:hover {
  background-color: rgb(68.5131578947, 58.4868421053, 58.4868421053);
}
.cell.player-1 {
  background-color: #fa6666;
}
.cell.player-2 {
  background-color: #d2d282;
}
.cell.display-tile {
  width: 5vh;
  height: 5vh;
  margin: 20px 0px;
  vertical-align: middle;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.cell.winning {
  animation: pulse 0.6s infinite ease-in-out;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  background-color: #dcdcdc;
  border-radius: 20px;
  padding: 6px 18px;
  margin: 20px;
}
@media screen and (max-width: 768px) {
  .dropdown {
    padding: 4px 12px;
    font-size: 16px;
    margin: 5px;
  }
}
.dropdown.active {
  box-shadow: 0px 0px 0px 2px #000000;
}
.dropdown.player-1 {
  background-color: #fa6666;
}
.dropdown.player-2 {
  background-color: #d2d282;
}
.dropdown .dropdown-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
.dropdown .dropdown-value {
  margin-left: auto;
}
.dropdown .arrow {
  display: inline-block;
  transition: transform 0.3s ease;
  margin-left: 20px;
}
.dropdown .arrow.open {
  transform: rotate(180deg);
}
.dropdown .buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}
.dropdown .buttons-container.show {
  max-height: 200px;
}
.dropdown .buttons-container button {
  margin: 5px;
  border: 1px solid #000000;
}

/*# sourceMappingURL=index.css.map */
