@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");
.app-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.board-container {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 60px;
  background-color: #f0f0f0;
  border-radius: 15px;
}
.board-container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 40px;
}

.player-panel {
  margin-top: 40%;
  grid-column: span 3;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 20px;
}
.player-panel .display-tile {
  height: 100px;
  width: 100px;
  background-color: #fa6666;
  font-size: 20px;
  margin: 10px auto;
  border-radius: 50%;
}
.player-panel .display-tile.active {
  border: 3px solid #000000;
}
.player-panel .display-tile.player-1 {
  background-color: #fa6666;
}
.player-panel .display-tile.player-2 {
  background-color: #d2d282;
}

.cell {
  border-radius: 50%;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 3px;
  border: 2px solid #000000;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
.cell:hover {
  background-color: rgb(68.5131578947, 58.4868421053, 58.4868421053);
  transform: scale(1.1);
}
.cell.player-1 {
  background-color: #fa6666;
}
.cell.player-1.winning {
  box-shadow: 0 0 0 2px white;
}
.cell.player-2 {
  background-color: #d2d282;
}
.cell.player-2.winning {
  box-shadow: 0 0 0 2px white;
}

body {
  font-family: "Geist Mono", monospace;
  font-size: 1.6rem;
  color: #000000;
  line-height: 1.6;
  background-color: #f0f0f0;
  text-align: center;
}

button {
  margin: 5px;
  font-family: inherit;
  padding: 12px 24px;
  border: none;
  background-color: #000000;
  color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.4s;
  border-radius: 12px;
}
button:hover {
  transform: scale(1.05);
}
button.outlined {
  background-color: transparent;
  color: #000000;
}
button.outlined:hover {
  background-color: #000000;
  color: #f0f0f0;
}

select {
  padding: 10px 20px;
  border-style: none;
  background-color: #f0f0f0;
  color: #000000;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1.6rem;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  box-shadow: none;
  border-radius: 0;
}
select:focus {
  outline: none;
  border-color: #000000;
}
select::after {
  content: "▼";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.app-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.board-container {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 60px;
  background-color: #f0f0f0;
  border-radius: 15px;
}
.board-container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 40px;
}

.player-panel {
  margin-top: 40%;
  grid-column: span 3;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 20px;
}
.player-panel .display-tile {
  height: 100px;
  width: 100px;
  background-color: #fa6666;
  font-size: 20px;
  margin: 10px auto;
  border-radius: 50%;
}
.player-panel .display-tile.active {
  border: 3px solid #000000;
}
.player-panel .display-tile.player-1 {
  background-color: #fa6666;
}
.player-panel .display-tile.player-2 {
  background-color: #d2d282;
}

.cell {
  border-radius: 50%;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 3px;
  border: 2px solid #000000;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
.cell:hover {
  background-color: rgb(68.5131578947, 58.4868421053, 58.4868421053);
  transform: scale(1.1);
}
.cell.player-1 {
  background-color: #fa6666;
}
.cell.player-1.winning {
  box-shadow: 0 0 0 2px white;
}
.cell.player-2 {
  background-color: #d2d282;
}
.cell.player-2.winning {
  box-shadow: 0 0 0 2px white;
}

/*# sourceMappingURL=index.css.map */
